footer.footer-universal {
    background-color: var(--button);
    min-height: 20rem;
    display: flex;
    gap: 1rem;
  }
  .columna-footer {
    width: 33%;
    margin: 1rem;
  }
  .logo-footer {
    width: 70%;
  }
  .columna-1-footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
  }
  .derechos-reservados-texto {
    color: var(--texto-claro);
  }
  .social-lista {
    list-style: none;
  }
  .social-links-footer {
    text-decoration: none;
  }
  .list-item-social {
    display: flex;
    gap: 1rem;
    align-items: center;
  }
  .list-item-social:hover,
  .list-item-social:focus {
    color: var(--acento);
  }
  @media screen and (max-width: 425px) {
    .footer-universal {
      flex-direction: column;
      gap: 0;
      overflow-x: hidden;
    }
    .columna-footer {
      width: 100%;
      max-width: 100%;
    }
    .columna-1-footer {
      order: 3;
    }
    .logo-footer {
      width: 50%;
      margin-bottom: 1rem;
    }
  }