.banner{
  height: 100vh;
	position: relative;
	background-position: center;
	background-image: url('../../assets/banner/hambur1.jpg');
	background-size: cover;
	animation: banner 15s infinite linear;
}
.banner-body{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100%;
	color: #FFF;
	font-family: 'poppinsregular';
	text-align: center;
}
.banner::before{
	content    : "";
	background : #000000; 
	position   : absolute;
	width      : 100%;
	height     : 100%;
	opacity    : 0.4; 
}
