.banner{
  height: 95vh;
	position: relative;
	background-position: center;
	background-image: url('../../assets/banner/hambur1.jpg');
	background-size: cover;
	animation: banner 15s infinite linear;
}
.banner-body{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100%;
	color: #FFF;
	font-family: 'poppinsregular';
	text-align: center;
}
.banner::before{
	content    : "";
	background : #000000; 
	position   : absolute;
	width      : 100%;
	height     : 100%;
	opacity    : 0.4; 
}

@keyframes banner{
	0%{
		background-image: url('../../assets/banner/hambur1.jpg');
	}
	33%{
		background-image: url('../../assets/banner/hambur1.jpg');
	}


	34%{
		background-image: url('../../assets/banner/hambur2.jpg');
	}
	66%{
		background-image: url('../../assets/banner/hambur2.jpg');
	}


	67%{
		background-image: url('../../assets/banner/hambur3.jpg');
	}
	100%{
		background-image: url('../../assets/banner/hambur3.jpg');
	}

}

.container-web-page{
	padding-top: 50px;
	padding-bottom: 30px;
}

.service-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
  }
  
  .service-icon {
	width: 150px;
	height: 150px;
  }

 