form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.form input {
    padding: 10px;
    margin-bottom: 10px;
    width: 300px;
}

form .custom-button {
    background-color: black;
    border: 1px #ffc107 solid !important;
    margin: 2px;
    color: white;
    border: none;
    transition:
        background-color 0.2s,
        color 0.2s;
}

form .custom-button:active,
form .custom-button:hover {
    margin: 1px !important;
    background-color: #ffc107 !important;
    color: #fff !important;
    text-shadow: 0 0 5px #000;
    border: 2px solid black !important;
}
.custom-imagen {
    display: block;
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 8px;
    margin: 0 auto;
}
.table-container {
    margin: 50px;
    margin-top: 0;
    margin-bottom: 0;
}

.custom-table {
    width: 100%;
}

.table-responsive {
    overflow-x: auto;
}

.custom-table th,
.custom-table td {
    padding: 10px;
    text-align: center;
}

.custom-table th {
    background-color: #343a40;
    color: white;
}

.custom-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}
.ctm-form-group {
    width: 85%;
}
.privacy-message {
    padding: 10px;

    background-color: #f7f7f7;
    border-radius: 8px;
    text-align: center;
    color: #777;
}

.custom-modal {
    margin-top: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal-content {
    display: flex;
    width: 70%;
    max-width: 600px;
    border: 2px solid yellow;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    padding: 20px;
    border-radius: 8px;
    background: black;
}
@media (max-width: 1080px) {
    .custom-modal {
        margin-top: 20%;
    }
}