@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap");
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
}

.icon-burger {
    width: 60px;
    height: 60px;
    cursor: pointer;
    border-radius: 50% !important;
}

nav.navbarmain .basic-nav-dropdown {
    background-color: #25252570 !important;
    color: white;
    backdrop-filter: blur(15px);
}

.nav-link:hover {
    color: white !important;
}

.navbarmain{
    position: relative;
    z-index: 999;
}