/* 
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
} */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.form input {
    padding: 10px;
    margin-bottom: 10px;
    width: 300px;
}


.message {
    margin-bottom: 10px;
    color: red;
}

form .custom-button {
    background-color: black ;
    margin: 2px;
    color: white;
    border: none;
    transition: background-color .2s, color .2s;
}


form .custom-button:active,
form .custom-button:hover {
    margin: 1px !important;
    background-color: white !important;
    color: black !important;
    border: 2px solid black !important;
}